extends layout

block content
  h1= title
  p Welcome to #{title}
  each book in books
    div
      div
        img(src="https://nodeapponazurestorageapp.blob.core.windows.net/book-cover/" + book.bookId + ".jpg")
      h3=book.title
      h4=book.author
